HTML{
    background-color: #24242e;
    
}

TopMenu{
    column-count: 4;
}

/*  linear-gradient(90deg, rgba(55,55,69,1) 0%, rgba(98,61,164,1) 29%, rgba(170,47,212,1) 51%, rgba(55,55,69,1) 100%); */ 

/* 
#373745 - cinza primal
#24242e - cinza
#623da4 - roxo 
#aa2fd4 - pseudo rosa
#cfcdcd - branco texto
*/

footer{
    align-self: baseline;
    align-content: center;
    align-items: flex-end;
    color-scheme: #373745 ;
    color: #aa2fd4;
    font-size: 11px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
